body{
    background: url(../resourses/fon.jpg) no-repeat; 
    background-size: cover;
}
.registration{
    position: relative;
    width: 500px;
    margin-top: 320px;
    margin-left: 320px;
}
.autorization{
    position: relative;
    width: 500px;
    margin-top: 360px;
    margin-left: 320px;
}
a{
    color: #141414;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #0ab9d8;
    color: #fff;
    font-family: Uni Sans;
    position: fixed;
    left: 0; right: 0;
    top: 0;
    
}
.header-section{
    display: flex;
    align-items: center;
}
.header-item{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
    color: black;
}
#itc{
    position: absolute;
    left: 821px;
    bottom: 14px;
    font-family: 'FRACTAL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #0a0a0a;
}
#downline{
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    bottom: 0px;
    background: rgb(11, 145, 197);
    box-shadow: 0px -16px 120px #F8F8F8;
    background-size: cover;
}
.words{
    position: absolute;
    margin-top: 22px;
    margin-left: 25px;
}
.info{
    position: absolute;
    margin-top: 200px;
    font-size: 2.5rem;
    color: #0a0a0a;
}
.tabler{
    position: absolute;
    margin-top: 250px;
    margin-left: 500px;
    color: #0a0a0a;
    width: 50%;
    height: 10%;
    border: #0a0a0a;
    border-radius: 2px;
    font-size: 18px;
    background: rgb(238, 236, 236);
}
.temswiewer{
    width: 300px;
    position: absolute;
    top: 500px;
    margin-left: 750px;
}
.rules{
    position: absolute;
    margin-top: 100px;
    font-size: 28px;
    margin-left: 10px;
    color: rgb(17, 16, 16);
    background-color: rgb(250, 250, 250)
}